<h1>My tasks</h1>

  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= check_box_tag(task.title, task.details, task.completed)%>

        <%= link_to task.title, task_path(task) %>

        <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fas fa-trash"></i>
          <% end %>
      </li>
     <% end %>
  </ul>

<br>

<%= link_to "+ Add new task", new_task_path %>
